@model IEnumerable<Janeshop.Models.Product>
@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<meta name="viewport" content="width=device-width" />
<h4 class="text-center text-info">Administrator</h4>