
@{
    ViewBag.Title = "Success";
}

<div class="text-center">
    <br /><br /><br />
    <h4>บันทึกแล้ว</h4>
    <br />

        <a href="@Url.Action("Login", "Customer")"><div class="btn btn-info col-lg-11 text-light">--เข้าใช้งานระบบ--</div></a>


</div>

