

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<div class="text-center">
    <br />
    <h4>บันทึกแล้ว</h4>
    <br />
    <a href="@Url.Action("index", "Store")"><div class="btn btn-outline-info col-lg-12">--บันทึกข้อมูลเรียบร้อยแล้ว--</div></a>
</div>