
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<div class="text-center">
    <br />
    <h4>บันทึกแล้ว</h4>
    <br />
    <a href="@Url.Action("Index", "Customer")"><div class="btn btn-info col-lg-11 text-light">--บันทึกข้อมูลเรียบร้อยแล้ว--</div></a>
</div>