@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br />
            <div class="text-center">
                <img src="~/Images/contact.jpg" />
            </div>
